# -*- coding: utf-8 -*-

from fabric.api import env
from fabric.api import local
from fabric.api import cd
from fabric.api import task

# set default env
env.directory = '~/Dropbox/Sync/Code/pac'

# dirty run
def run(cmd, run_local=True):
    from fabric.api import run as run_
    if env.hosts:
        run_(cmd)
    else:
        if run_local:
            local(cmd)

@task
def remote():
    env.use_ssh_config = True
    env.user = 'deploy'
    env.hosts = ['hostname']
    env.directory = '/var/www/proxy'


@task
def build():
    with cd(env.directory):
        run('git pull', run_local=False)
        run('python build.py > white.pac')
